<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H8lumni</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
     </style>
</head>
<body>


      <!-- <div class="container mt-5"> -->
        <form class="form-signin mt-5" action="/register" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Register New Account</h1>

        <div class="form-group">
            <label for="username">Username</label> <% if(errors.username) { %> <span class="text-danger ml-4 float-right"><%= (errors.msg[0]) ? msg[0] : "required" %></span> <% } %>
            <input type="text" id="username" name="username" class="form-control <% if(errors.username) { %>is-invalid<% } %>" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label> <% if(errors.email) { %> <span class="text-danger ml-4 float-right"><%= (errors.msg[1]) ? msg[1] : "required" %></span> <% } %>
            <input type="email" id="inputEmail" name="email" class="form-control <% if(errors.email) { %>is-invalid<% } %>" placeholder="Email address">
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label> <% if(errors.password) { %> <span class="text-danger ml-4 float-right">required</span> <% } %>
          <input type="password" id="inputPassword" name="password" class="form-control <% if(errors.password) { %>is-invalid<% } %>" placeholder="Password">
        </div>

        
        <h1 class="h3 mb-3 font-weight-normal mt-5">User Information</h1>

        <div class="form-group">
          <label for="fullname">Full Name</label> <% if(errors.fullname) { %> <span class="text-danger ml-4 float-right">required</span> <% } %>
          <input type="text" id="fullname" name="fullname" class="form-control <% if(errors.fullname) { %>is-invalid<% } %>" placeholder="Full Name" autofocus>
        </div> 
      
        <div class="form-group">
            <label for="age">Age</label> <% if(errors.age) { %> <span class="text-danger ml-4 float-right">required</span> <% } %>
            <input type="number" id="age" name="age" class="form-control <% if(errors.age) { %>is-invalid<% } %>" placeholder="" style="width: 150px;">
        </div>

        <div class="form-group">
            <label>Gender</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="male" value="option1" checked>
                <label class="form-check-label" for="male">
                Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="female" value="option2">
                <label class="form-check-label" for="female">
                Female
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="image">Profile Image URL</label>
            <input type="text" id="image" name="image" class="form-control" placeholder="">
        </div>

        <div class="form-group">
            <label for="batch">Batch</label> <% if(errors.batch) { %> <span class="text-danger ml-4 float-right">required</span> <% } %>
            <input type="number" id="batch" name="batch" class="form-control <% if(errors.batch) { %>is-invalid<% } %>" placeholder="batch">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    <!-- </div> -->

  </body>
  </html>