<%- include("../partials/header") %>

<style>
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<div class="container mt-5">
    <form class="form-signin" action="/register" method="POST">
        <h1 class="h3 mb-3 font-weight-normal mb-5">Edit Profile</h1>
        
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" class="form-control" placeholder="" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="" required>
        </div>

        
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" class="form-control" placeholder="" required style="width: 150px;">
        </div>

        <div class="form-group">
            <label>Gender</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="male" value="option1" checked>
                <label class="form-check-label" for="male">
                Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="female" value="option2">
                <label class="form-check-label" for="female">
                Female
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="image">Profile Image URL</label>
            <input type="text" id="image" name="image" class="form-control" placeholder="" required>
        </div>

        <div class="form-group">
            <label for="batch">Batch</label>
            <input type="number" id="batch" name="batch" class="form-control" placeholder="batch" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Update Profile</button>
    </form>
</div>

<%- include("../partials/footer") %>