<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Share Something Here</h1><br>
    <form action="/H8lumni/addShares" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id=""><br><br>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit" value="submit">Add</button>
</form>
</body>
</html>