<%- include("./partials/header") %>

     <style>
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
     </style>

<body>
   <br> <h1  class="d-flex justify-content-center">H8LUMNI</h1><br>
<!--     
    <a href="/h8lumni/profiles">profiles</a>
    <a href="/h8lumni/shares">shares</a> -->
    <br><br>
    <div class="d-flex justify-content-center">
      <form action="/H8lumni/home" method="POST">
        <label for="content">Whatsup ur day?</label>
        <input type="text" value="" name="content"><button type="submit" value="submit">Post!</button>
      </form>
    </div>
      <% data.forEach(el => {%>
        <br>
        <p class="d-flex justify-content-center"> <%= el.content %>
          <%}); %> </p>
          
          
</body>
</html>