<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>H8LUMNI</h1><br>
    
    <a href="/h8lumni/profiles">profiles</a>
    <a href="/h8lumni/shares">shares</a>
    <br><br>
    <form action="/H8lumni/home" method="POST">
        <label for="content">Whatsup ur day?</label>
        <input type="text" value="" name="content"><button type="submit" value="submit">Post!</button>
    </form>
    <% data.forEach(el => {%>

       <p> <%= el.content %>
    <%}); %> </p><br>
    <br>
    <br>
</body>
</html>