<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>H8LUMNI</h1>
    <a href="/h8lumni/profiles">profiles</a>
    <a href="/h8lumni/shares">shares</a>
    <br><br>
    <label for="username">Whatsup ur day?</label>
    <input type="text"><button>Post!</button>
</body>
</html>