<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>H8LUMNI</h1>

    <br><br>
    <label for="fullname">Full Name:</label>
    <input type="text"><br>
    <label for="age">Age:</label>
    <input type="number"><br>
    <label for="gender">Gender:</label>
    <input type="text"><br>
    <label for="batch">Batch:</label>
    <input type="text"><br>
    <label for="image">Image:</label>
    <input type="url"><br>
    <button>save</button>

</body>
</html>