<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>H8LUMNI</h1>

    <br><br>
    <a href="/h8lumni/addShares"><button>Add New Shares!</button></a>
    <br>
    <table >
        <thead >
            <tr>
                No
            </tr>
            <tr>Title</tr>
            <tr>Alumnus</tr>
        </thead>
        <tbody>
            <% data.forEach(el => {%>
                <td><%= el.content %></td>
                
             <%}); %> <br>
        </tbody>

    </table>
</body>
</html>